<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>北京恒溪科技有限公司</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="assets/css/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="home">

	<div class="navbar navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="index.html">
					<img width="45%" src="assets/images/everstream-logo.png" alt="Progressus HTML5 template">
				</a>
			</div>
			<div class="navbar-collapse collapse">
			</div><!--/.nav-collapse -->
		</div>
	</div> 

	<header id="head" style="background:#FFFFFF url(images/prof.png) no-repeat; background-size: 150%;">
		<div class="container" style="opacity:1.0;">
			<div class="row">
				<h1 class="lead">我们致力于轻量级游戏开发</h1>
				<p class="tagline">恒溪科技是一家专业的手机娱乐应用开发商，初创人员均为有工作经验的留学海归。公司拿到百万级天使投资，资金充沛，项目正在紧张的开发中，现寻找和我们一样有技术有理想的创业伙伴，一起经历创业、积累经验，打造专业的团队、分享成功的果实。</p>
			</div>
		</div>
	</header>

	<footer id="footer">

		<div class="footer1">
			<div class="container">
				<div class="row">

					<div class="col-md-3 widget">
						<h3 class="widget-title">公司概况</h3>
						<div class="widget-body">
							<p> <a href="/#">公司主页</a> </p>	
							<p> <a href="/company">公司介绍</a> </p>	
							<p> <a href="/products">产品简介</a> </p>	
						</div>
					</div>

					
					<div class="col-md-3 widget">
						<h3 class="widget-title">联系方式</h3>
						<div class="widget-body">
							<p>+86 010-64402701<br>
								<a href="mailto:#">contact@everstream.cn</a><br>
								<br>
								北京市朝阳区西坝河南路1号金岛花园兰苑12层B<br>
								100028
							</p>	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">在这里找到我们</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href=""><i class="fa fa-twitter fa-2"></i></a>
								<a href=""><i class="fa fa-dribbble fa-2"></i></a>
								<a href=""><i class="fa fa-github fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
							</p>	
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					<div class="col-md-6 widget">
						<div class="widget-body text-center">
								恒溪（北京）科技有限公司 Copyright&copy; 2015 京ICP备15031947号-1
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>	
		<!-- /container -->
</body>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
</html>
